<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Main Page</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
        <link rel="stylesheet" href="style.css">

    </head>

    <body>

        <section id="header">
            <a href="/"><img src="logo2.png"></a>

            
        </section>


        <section id="admin" class="section-p1">
            
            <div class="m">
               
                
                <div class="admin-in" id="bottom">
                   
                     
                    <form method="post" action="/admin">
                    <span>User ID</span>
                    <input type="text" placeholder="User ID" id="uname" name="uname" required>
                    <span>Password</span>
                    <input type="password" id="pass" name="pass" required>
                    <input type="submit" class="submit" value="Login" style="font-size: 12px;
                    font-weight: 500;
                    width: 65px;
                    height: 30px;
                    padding: 2px 4px;
                    opacity: 0.6;
                    transition: 0.4s ease;
                    margin-top: 9px;
                    margin-bottom: 18px;
                    background-color: #dfe8e8;">
                   
                </div>
                
           
        </div>
            <div class="trans" id="top1"></div>
        </section>


        <footer class="section-p1">
            <div class="col">
                <img class="logo" src="img/logo.png" alt="">
                <h4>Contact</h4>
                <p><strong>Address :</strong> Saint Gits, Thiruvalla, Kerala</p>
                <p><strong>Phone :</strong> +91 96050 97334</p>
                <p><strong>Hours :</strong>10:00 - 18:00, Mon - Sat</p>
                <div class="follow">
                    <h4>Follow Us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4>About</h4>
                <a href="#">About Us</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Contact Us</a>
                <a href="#">Help</a>
            </div>

            <div class="copyright">
                <p>© 2022, Saint Gits - Project</p>
            </div>
        </footer>


        </script>

    </body>

</html>