
<!DOCTYPE html>
<html>
    <head>
       

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
        <link rel="stylesheet" href="style.css">
        <title>Course Details</title>
</head>

<body>
  <section id="header">
    <a href="/"><img src="logo2.png"></a>

    <div>
        <ul id="navbar">
          <% if(faculty){ %>
            <% if(user){ %>
                <li><a  readonly href="/">Dashboard</a></li>
                <li><a  class="active" href="course">Course Details</a></li>
                <li><a href="courseselect">Assesment Marks</a></li>
            <li><a href="fresult">Publish Result</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a readonly><%= user.FName %></a></li>
            <% }else{ %>
            <li><a href="login">Student Sign-In</a></li>
            <li><a href="flogin">Faculty Sign-In</a></li>
            <% } %>
            <% } %>
          
        </ul>
    </div>
  </section>

  <% if(faculty){ %>
    <% if(user){ %>   
        <div class="container " style="height:500px;">
            <div class="sidenav">
              
             
       
                <a href="/courseselect">Asessment result</a>
                <a href="/coursesel">View Details</a>
               
        
     
    </div>
  <section class=same>
<div class="bod">
  <div class="r">
    <h2>Select Course</h2>
  <form action="/cs1" method="post">
    <input type="text" name="course_id" placeholder="course_id" required>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>
</div>
</section>
</div>
           
<% } %>
<% } %>

<footer class="section-p1">
  <div class="col">
      <img class="logo" src="img/logo.png" alt="">
      <h4>Contact</h4>
      <p><strong>Address :</strong> SaintGits, Thiruvalla, Kerala</p>
      <p><strong>Phone :</strong> +91 96050 97334</p>
      <p><strong>Hours :</strong>10:00 - 18:00, Mon - Sat</p>
      <div class="follow">
          <h4>Follow Us</h4>
          <div class="icon">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-pinterest"></i>
              <i class="fab fa-youtube"></i>
          </div>
      </div>
  </div>



  <div class="col">
      <h4>About</h4>
      <a href="#">About Us</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Contact Us</a>
      <a href="#">Help</a>
  </div>

  <div class="copyright">
      <p>© 2022, SaintGits - Project</p>
  </div>
</footer>



</body>
</html>