<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Main Page</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
        <link rel="stylesheet" href="style.css">
        

    </head>

    <body>

        <section id="header">
            <a href="/"><img src="logo2.png"></a>

            <div>
                <ul id="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a href="studentr">Add Student </a></li>
                    <li><a href="facultyr">Add Faculty </a></li>
                    <li><a href="logout">Logout</a></li>
                </ul>
            </div>
             
        </section>
        
       
        <section id="admin" class="section-p1">
            <h3>Student Registration</h3>
            <div class="m">
               
                <div class="admin-up" id="bottom">
                    <form action="/sregister" method="post">
                    <span>Student ID</span>
                    <input type="text" placeholder="Student ID" id="uname" name="uname" required>
                    <p></p>
                    <span>First Name</span>
                    <input type="text" placeholder="First Name" id="fname" name="fname" required>
                    <p></p>
                    <span>Last Name</span>
                    <input type="text" placeholder="Last Name" id="lname" name="lname" required>
                    <p></p>
                    <span>Gender</span>
                    <input type="text" placeholder="Gender" id="gname" name="gname" required>
                    <p></p>
                    <span>Email ID</span>
                    <input type="text" placeholder="Email" id="ename" name="ename" required>
                    <p></p>
                    <span>Department</span>
                    <input type="text" placeholder="Department" id="dname" name="dname" required>
                    <p></p>
                    <span>Semester</span>
                    <input type="text" placeholder="Semester" id="sname" name="sname" required>
                    <p></p>
                    <span>Password</span>
                    <input type="password" id="pass" name="pass" pattern="(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).{8,}" required>
                    <p></p>
                    <span>Confirm Password</span>
                    <input type="password" id="pass" required>
                    <p></p>
                    <input type="submit" class="submit" value="Register" style="font-size: 12px;
                    font-weight: 500;
                    width: 65px;
                    height: 30px;
                    padding: 2px 4px;
                    opacity: 0.6;
                    transition: 0.4s ease;
                    margin-top: 9px;
                    margin-bottom: 18px;                 
                    background-color: #dfe8e8;">
                    <p></p>
                    
                </div>
            </div>
                
            
            <div class="trans" id="top"></div>
            
           
        
        </section>


        <footer class="section-p1">
            <div class="col">
                <img class="logo" src="img/logo.png" alt="">
                <h4>Contact</h4>
                <p><strong>Address :</strong> SaintGits, Thiruvalla, Kerala</p>
                <p><strong>Phone :</strong> +91 96050 97334</p>
                <p><strong>Hours :</strong>10:00 - 18:00, Mon - Sat</p>
                <div class="follow">
                    <h4>Follow Us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4>About</h4>
                <a href="#">About Us</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Contact Us</a>
                <a href="#">Help</a>
            </div>

            <div class="copyright">
                <p>© 2022, SaintGits - Project</p>
            </div>
        </footer>

        <!-- <script>
            var su=document.getElementById("su");
            var si=document.getElementById("si");
            var trans=document.getElementById("top");
            var s=document.getElementById("signup");
            su.onclick = function(){
                trans.style.left="406px";
                trans.style.borderTopLeftRadius = "1pc";
                trans.style.borderBottomLeftRadius = "1pc";
                trans.style.borderTopRightRadius = "0";
                trans.style.borderBottomRightRadius = "0";
                trans.style.transition = "0.6s ease";
            };
            si.onclick = function(){
                trans.style.left="706px";
                trans.style.borderTopLeftRadius = "0";
                trans.style.borderBottomLeftRadius = "0";
                trans.style.borderTopRightRadius = "1pc";
                trans.style.borderBottomRightRadius = "1pc";
            };

        </script> -->

    </body>

</html>